@import url("@mantine/core/styles.css");

.mantine-FileInput-section .mantine-CloseButton-root {
  color: var(--mantine-color-brown-5);
}

.mantine-FileInput-section .mantine-CloseButton-root:hover {
  background-color: var(--mantine-color-beige-0);
}

.mantine-Select-option:hover {
  background-color: var(--mantine-color-beige-9);
}

.mantine-ComboboxChevron-chevron {
  color: var(--mantine-color-brown-8);
}

.mantine-Accordion-control:hover {
  background-color: var(--mantine-color-brown-9);
}

.mantine-Tabs-tab:hover {
  background-color: var(--mantine-color-beige-8);
}

[data-mantine-color-scheme="dark"] .m_89d60db1 {
  --tab-border-color: var(--mantine-color-brown-3);
}
